{% extends "base.html" %}
{% block title%}Ministry Dashboard{% endblock %}
{% block head %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/ministry.js') }}"></script>
{% endblock %}
{% block body %}
<div class="intro-header">
        <div class="container">
            <div class="column">
                <h3>Safety Statistics</h3>
                <p>Safety Number</p>
                <div id="log">
            </div>
            <div class="column">
                <h3>Security Statistics</h3>
                <p>Security Number</p>
                <div id="security_num">
            </div>
            <div class="column">
                <h3>Productivity Statistics</h3>
                <p>Productivity Number</p>
                <div id="productivity_num">
            </div>
        </div>
    </div>
{% endblock %}