{% extends "base.html" %}
{% block title%}Ministry Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Ministry Dashboard</h1>
                        <h3>Observe the condition from all hospital in all over Country</h3>
                        <hr class="intro-divider">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}